<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            background-color: #f8f9fa;
        }
        .main-content {
            margin-left: 250px; /* Adjusted for the sidebar width */
            width: calc(100% - 250px);
            padding: 20px;
        }
        .pagination {
            justify-content: center;
        }
    </style>
</head>
<body>
<div th:replace="sidebar :: sidebar"></div>
<div class="main-content">
    <div class="container">
        <h1 class="text-center">Socios</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Pago hasta</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clientPage.content}">
                <td th:text="${client.username}"></td>
                <td th:text="${client.dni}"></td>
                <td th:text="${client.lastAccessQuota()?.validUntilPretty()}">N/A</td>
                <td>
                    <a href="#" class="btn btn-sm btn-info">Ver</a>
                    <a href="#" class="btn btn-sm btn-warning">Editar</a>
                    <a href="#" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="${clientPage.hasPrevious() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{/list-clients(page=${clientPage.number - 1}, size=${clientPage.size})}">Anterior</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, clientPage.totalPages - 1)}" th:classappend="${clientPage.number == i ? 'active' : ''}">
                    <a class="page-link" th:href="@{/list-clients(page=${i}, size=${clientPage.size})}" th:text="${i + 1}">1</a>
                </li>
                <li class="page-item" th:classappend="${clientPage.hasNext() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{/list-clients(page=${clientPage.number + 1}, size=${clientPage.size})}">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
