<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar">
    <div class="sidebar">
        <div class="sidebar-header">SKOL GYM</div>
        <a href="/list-clients" class="d-flex align-items-center">
            <i class="fas fa-list mr-2"></i>Socios
        </a>
        <a href="/list-payments" class="d-flex align-items-center">
            <i class="fas fa-dollar-sign mr-2"></i>Pagos
        </a>
        <a href="/list-clients-no-access" class="d-flex align-items-center">
            <i class="fas fa-list mr-2"></i>Adeudados
        </a>
    </div>
</div>
</body>
</html>
